<a href="https://colab.research.google.com/github/arjun210/arjun-shah/blob/master/Loops_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Swap two numbers using 3rd variable
# define the numbers
a = 5
b = 10

# print the original values
print("Before swapping: a =", a, ", b =", b)

# use a third variable to swap
temp = a
a = b
b = temp

# print the swapped values
print("After swapping: a =", a, ", b =", b)

Before swapping: a = 5 , b = 10
After swapping: a = 10 , b = 5

In [ ]:
#2) Remove duplicate elements from a list without converting to tuple
lst1=[1,2,3,1,2,3,1,2,3,'apple','apple']
set1=set(lst1)
print(set1)

{'apple', 1, 2, 3}

In [ ]:
# 3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

number=int(input("Enter any number here: "))
number1 = int(input("Enter another number hrere: "))

for i in range(min(number, number1),0,-1):
  if number%i==0 and number1%i==0:
    gcd=i
    break
print("The GCD of", number, "and", number1, "is:", gcd)

Enter any number here: 20
Enter another number hrere: 28
The GCD of 20 and 28 is: 4

In [ ]:
# 4) Write a loop to print following series
#10, 20, 30,  …………………, 300

for i in range(1,301):
  print(i*10, end=' ')

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300 310 320 330 340 350 360 370 380 390 400 410 420 430 440 450 460 470 480 490 500 510 520 530 540 550 560 570 580 590 600 610 620 630 640 650 660 670 680 690 700 710 720 730 740 750 760 770 780 790 800 810 820 830 840 850 860 870 880 890 900 910 920 930 940 950 960 970 980 990 1000 1010 1020 1030 1040 1050 1060 1070 1080 1090 1100 1110 1120 1130 1140 1150 1160 1170 1180 1190 1200 1210 1220 1230 1240 1250 1260 1270 1280 1290 1300 1310 1320 1330 1340 1350 1360 1370 1380 1390 1400 1410 1420 1430 1440 1450 1460 1470 1480 1490 1500 1510 1520 1530 1540 1550 1560 1570 1580 1590 1600 1610 1620 1630 1640 1650 1660 1670 1680 1690 1700 1710 1720 1730 1740 1750 1760 1770 1780 1790 1800 1810 1820 1830 1840 1850 1860 1870 1880 1890 1900 1910 1920 1930 1940 1950 1960 1970 1980 1990 2000 2010 2020 2030 2040 2050 2060 2070 2080 2090 2100 2110 2120 2130 2140 2150 2160 2170 2180 2190 2200 2210 2220 2230 2240 2250 2260 2270 2280 2290 2300 2310 2320 2330 2340 2350 2360 2370 2380 2390 2400 2410 2420 2430 2440 2450 2460 2470 2480 2490 2500 2510 2520 2530 2540 2550 2560 2570 2580 2590 2600 2610 2620 2630 2640 2650 2660 2670 2680 2690 2700 2710 2720 2730 2740 2750 2760 2770 2780 2790 2800 2810 2820 2830 2840 2850 2860 2870 2880 2890 2900 2910 2920 2930 2940 2950 2960 2970 2980 2990 3000

In [ ]:
# 5) Write a loop to print following series
#105,98,91,………………………,7


for i in range(7, 106):
  if i%7==0:
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105

In [ ]:
# 6) Write a program to print number names of digits in a number like 
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

dict1={
    '0': 'ZERO',
    '1': 'ONE',
    '2': 'TWO',
    '3': 'THREE',
    '4': 'FOUR',
    '5': 'FIVE',
    '6': 'SIX',
    '7': 'SEVEN',
    '8': 'EIGHT',
    '9': 'NINE'
}

number1= input("Enter any Number: ")

for i in number1:
  print(dict1[i], end= ' ')

Enter any Number: 231
TWO THREE ONE

In [ ]:
# 7) Write a program to print Fibonacci series till n terms take n =50:


#Fibonacci series=0,1,1,2,3,5,8,13,21,34......


n = 50
a = 0
b = 1
print(a, b, end=' ')
for i in range(3, n+1):
    c = a + b
    print(c, end=' ')
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [ ]:
# # 8) Write a program to print factorial of a number
def factorial(n):
    fact = 1
    for i in range(n):
        fact *= i+1
    return fact

result = factorial(5)
print(result)

120

In [ ]:
# 9) Write a program to check if a number is Armstrong or not

def is_armstrong_number(num):
    # Determine the number of digits
    num_str = str(num)
    num_digits = len(num_str)
    
    # Separate each digit, raise to the power of num_digits, and sum up the results
    sum_of_digits = sum(int(digit) ** num_digits for digit in num_str)
    
    # Check if the sum is equal to the original number
    if sum_of_digits == num:
        return True
    else:
        return False

# Example usage
num = int(input("Enter a number: "))
if is_armstrong_number(num):
    print(num, "is an Armstrong number.")
else:
    print(num, "is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [ ]:
#10) Write a program to convert binary to decimal:
def binary_to_decimal(binary):
    strbinary = str(binary)
    decimal = int(strbinary, 2)
    return decimal

binary = input("Enter a binary number: ")
decimal = binary_to_decimal(binary)
print("The decimal equivalent of binary", binary, "is:", decimal)

Enter a binary number: 11011000
The decimal equivalent of binary 11011000 is: 216

In [ ]:
#11) Write a program to convert decimal to binary

def decimal_to_binary(decimal):
    binary = bin(decimal)
    return binary[2:]  # remove '0b' prefix

decimal = int(input("Enter a decimal number: "))
binary = decimal_to_binary(decimal)
print("The binary equivalent of decimal", decimal, "is:", binary)

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)

def is_palindrome(name):
  return name == name[::-1]


name=input("Enter palindrome here:")

if is_palindrome(name):
  print(name, "is palindrome")
else:
  print("Its not")

In [ ]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

def divisible(number):
  return number%13==0 and not number%3==0

for i in range(100, 501):
  if divisible(i):  
    print(i, "is divisible by 13 & not 3")

In [ ]:
# Function to check divisibility
def divisible(number):
    return number % 13 == 0 and number % 3 != 0

# Ask user for input and validate it
while True:
    number = int(input("Enter a number that is greater than 100 and less than 500: "))
    if 100 <= number <= 500:
        break
    print("The number should be greater than 100 and less than 500. Please try again.")

# Check the inputted number for divisibility
if divisible(number):
    print(number, "is divisible by 13 but not by 3")
else:
    print(number, "is not divisible by 13 or is divisible by 3")

In [ ]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
def convert_temperature(temp, scale):
    if scale.lower() == "celsius":
        return temp * 9/5 + 32
    elif scale.lower() == "fahrenheit":
        return (temp - 32) * 5/9
    else:
        return None
        
temp = float(input("What is the temperature? "))
scale = input("What is the scale of the temperature (Celsius or Fahrenheit)? ")

converted_temp = convert_temperature(temp, scale)

if converted_temp is not None:
    if scale.lower() == "celsius":
        print(temp," degrees Celsius is equal to", converted_temp, "degrees Fahrenheit.")
    else:
        print(temp," degrees Fahrenheit is equal to", converted_temp, "degrees Celsius.")
else:
    print("Invalid scale. Please enter either Celsius or Fahrenheit.")

In [ ]:
# 15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. 
# 3The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

def generate_2d_array(m, n):
    arr = []
    for i in range(m):
        row = []
        for j in range(n):
            if i * j:
                row.append(i * j)
                print()
            else:
                row.append(0)
        arr.append(row)
    return arr

m = int(input("Input number of rows: "))
n = int(input("Input number of columns: "))
print(generate_2d_array(m, n))

In [ ]:
# 16. Write a Python program that accepts a string and calculates the number of digits and letters.
# Sample Data: Python 3.2
# Expected Output: 
# Letters 6
# Digits 2

def count_digits_letters(s):
    d = {'Digits': 0, 'Letters': 0}
    for c in s:
        if c.isdigit():
            d['Digits'] += 1
        elif c.isalpha():
            d['Letters'] += 1
    return d

s = input("Input a string: ")
d = count_digits_letters(s)
print("Letters", d['Letters'])
print("Digits", d['Digits'])

In [ ]:
# 17) Print all possible combination for a string or a word
# Sample input “ABC”
# Sample output
# BAC
# CAB
# CBA
# ACB
# BCA

def string_combinations(s):
    if len(s) == 0:
        return ['']
    else:
        combinations = []
        for i in range(len(s)):
            rest = s[:i] + s[i+1:]
            for p in string_combinations(rest):
                combinations.append(s[i] + p)
        return combinations

s = input("Input a string: ")
print(string_combinations(s))

In [ ]:

# 18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side

# Note :
# An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.

 def triangle_type(a, b, c):
    if a == b == c:
        return "Equilateral"
    elif a == b or b == c or c == a:
        return "Isosceles"
    else:
        return "Scalene"

a = int(input("Input side a: "))
b = int(input("Input side b: "))
c = int(input("Input side c: "))
print(triangle_type(a, b, c))

In [ ]:
# 19) Write a Python program to get the next day of a given date.
# Expected Output:
# Input a year: 2016                                                      
# Input a month [1-12]: 08                                                
# Input a day [1-31]: 23                                                  
# The next date is [yyyy-mm-dd] 2016-8-24


def next_day(y, m, d):
    if m in (1, 3, 5, 7, 8, 10, 12):
        month_length = 31
    elif m == 2:
        if y % 4 == 0:
            if y % 100 == 0:
                if y % 400 == 0:
                    month_length = 29
                else:
                    month_length = 28
            else:
                month_length = 29
        else:
            month_length = 28
    else:
        month_length = 30

    if d < month_length:
        d += 1
    else:
        d = 1
        if m == 12:
            m = 1
            y += 1
        else:
            m += 1

    return y, m, d

y = int(input("Input a year: "))
m = int(input("Input a month [1-12]: "))
d = int(input("Input a day [1-31]: "))
y, m, d = next_day(y, m, d)
print("The next date is [yyyy-mm-dd] {}-{}-{}".format(y, m, d))